*{
    margin: 0;
    padding: 0;
    border: 0;
}

body{
    width: 100%;
    height: 100%;
}

.Header, .Main, .Footer{
    float: Left;
    width: 100%;
    height: 160px;    
}

.Header{
    background-color: blue;
}

.Main{
    background-color: red;
}

.Footer{
    background-color: green;
}